<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
<div class="container">
<nav>
<ul class="nav pull-right">
   <% if user_signed_in?  %> 
   <li id="fat-menu" class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-hand-down icon-white"></i>
   Account <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
     <li> <%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
    <%if current_user.admin?%>
     <li><%= link_to "Users", users_path %></li>
     <%end%>
     <li class="divider"></li>
     <li>
     </li>
      </ul>
      </li>
      <% else %>
      <li><%= link_to "Register", new_user_registration_path %></li>  
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
</ul>
</nav>
</div>
</div>
</header>
